<%= link_to "new one", new_text_post_path %>
<!-- andy-testing branch -->
<!-- andy-testing branch2 -->
<!-- andy-testing branch3 
-->
<div> 
  <% @text_posts.each do |textpost| %>
    <%= div_for textpost do %>
      ..............
      .............. 
      <p>
        <%= link_to textpost.title, textpost %> | <%= textpost.content %>
      </p>
    <% end %>


	  <span class='likes pull-left'>
	  <%= textpost.likes.count %> likes
	  </span>

	  <%= form_for Like.new do |f| %>
	    <%= f.hidden_field :likeable_type, :value => textpost.class %>
	    <%= f.hidden_field :likeable_id, :value => textpost.id %>
	    <%= f.hidden_field :user_id, :value => current_user.id %>
	    <%= f.submit "Like" %>
	  <% end %>


  <% end %>
</div>