
<a href="<%= new_image_link_path %>">create a new imagelink</a>

<% @image_links.each do |i| %>
	<p><%= i.id %>: <%= link_to i.title, i %>
	</p>

<% end %>




<%= image_links_url %><br>
<%= image_links_path %><br>
<%= image_links_path %><br>
<%= link_to "Home", root_path %>
<%= link_to "Text Posts", text_posts_path %>